@import '../master'

$map-size: 100%;

.map-container
  position: absolute;
  width: 100vw;
  height: $map-size;
  min-height: $card-height * 2
  top: 100% - $map-size;

.title-container
  position: absolute;
  width: 100vw;
  height: 100% - $map-size;
  top: 0;

// Windows and Widgets

.popular-window
  position: absolute
  margin: $card-width / 10
  margin-top: $card-height / 10
  width: $card-width + 1em

  .popular-window__container
    background: $white
    border-radius: 0.5em

.search-window
  position: absolute
  width: 100%

  .search-window__bar, .search-window__dropdown
    background: $white
    margin-left: 35%
    margin-right: 35%
    margin-top: 2em
  .search-window__dropdown
    margin-top: 0
  input
    box-sizing: border-box
    border-radius: 0.5em
    border-style: solid
    border-color: $white
    height: 2.5em
    padding-left: 1em
    padding-right: 1em
    width: 100%
