@import '../master'

.eventCard
  padding: 0.5rem
  .card-title
    font-size: $large-card-font
    font-weight: bold
  .card-title--large
    font-size: $large-card-font + 0.2em
    font-weight: bold
  .card
    max-width: $card-width
    max-height: $card-height
  .card-img-top
    border-top-left-radius: 0.5em
    border-top-right-radius: 0.5em

.eventCard_text
  font-size: $small-card-font
